<mat-accordion multi="false">
    <div class="p-1">
        <div *ngFor="let section of courseInfo.sections" class="p-1">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="p-2 font-bold text-xl">
                            Section {{section.sectionName}}
                            <a *ngIf="true">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
        <div *ngFor="let module of section.modules" class="p-2">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="p-2 font-bold text-xl">
                            Module {{module.moduleName}}
                            <a *ngIf="true">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- populate the module content-->
                <p *ngFor="let content of module.content"> {{content.onModel}}-{{content.contentName}}</p>
                <app-video-upload [courseID]=courseInfo._id [sectionID]=section._id [moduleID]=module._id></app-video-upload>
            </mat-expansion-panel> 
        </div>
    </mat-expansion-panel>
    </div>

<mat-card class="p-1">
    <div class="p-2 font-bold text-xl">
        
    </div>
</mat-card>
</div>
</mat-accordion>