<mat-accordion multi="false">
    <div class="p-1">
        <div *ngFor="let section of courseInfo.sections" class="p-1">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="p-2 font-bold text-xl">
                            {{section.sectionName}}
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
        <div *ngFor="let module of section.modules" class="p-2">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div class="p-2 font-bold text-xl">
                            {{module.moduleName}}
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- populate the module content-->
                <mat-card *ngFor="let content of module.content"> {{content.onModel}}-{{content.contentName}}</mat-card>
                <!--<app-video-upload [courseID]=courseInfo._id [sectionID]=section._id [moduleID]=module._id></app-video-upload>-->
            </mat-expansion-panel> 
        </div>
    </mat-expansion-panel>
    </div>
</div>
</mat-accordion>
<div class="float-right">
    <mat-card class="p-1">
            <button mat-raised-button color="primary" routerLink="./editCurriculum">Edit Curriculum</button>
    </mat-card>
</div>