<div class="flex flex-col">
  <div class="grid gap-2 m-2 md:grid-flow-col-dense md:max-w-lg">
    <!-- Add Students Card -->
    <mat-card class="shadow-lg h-400">
      <mat-card-title>Add Students:</mat-card-title>
      <div class="grid grid-flow-row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" name="newEmail" [(ngModel)]="newEmail" />
        </mat-form-field>
        <div class="flex flex-row">
          <button class="w-40 bg-green-300" mat-raised-button (click)="addNewStudent()">
            Add Student
          </button>
          <button class="w-40 bg-green-300" mat-raised-button (click)="onSubmit()">
            Submit Students
          </button>
        </div>
        <mat-list *ngFor="let email of emails">
          <mat-list-item>
            {{ email }}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card>
    <!-- Remove Student Card -->
    <mat-card class="shadow-lg h-400">
      <mat-card-title>Remove Student:</mat-card-title>
      <div class="grid grid-flow-row">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" name="removedEmail" [(ngModel)]="removedEmail" />
        </mat-form-field>
        <button class="w-40 bg-red-400" mat-raised-button (click)="removeStudent()">
          Remove
        </button>
      </div>
    </mat-card>
    <!-- Course Link For Students Card -->
    <mat-card class="shadow-lg h-400">
      <mat-card-title> Course Link: </mat-card-title>
      <mat-card-content>
        <!-- Has Course Coupon -->
        <div *ngIf="courseCode" [cdkCopyToClipboard]="courseLink" (click)="openSnackBar('Copied!')"
        matTooltip="Click to copy link."
        class="flex flex-row place-content-between text-xl truncate rouned-lg shadow-sm shadow-black bg-slate-100 p-3 cursor-pointer">
        <div class="">{{ courseLink }}</div>
        <mat-icon class="self-center" *ngIf="courseCode">content_paste</mat-icon>
      </div>
        <!-- No Course Coupon -->
        <div *ngIf="!courseCode"
        class="flex flex-row place-content-between text-xl truncate rouned-lg shadow-sm shadow-black bg-slate-100 p-3 cursor-default">
        <div class="">{{ courseLink }}</div>
        <mat-icon class="self-center">content_paste_off</mat-icon>
      </div>
      </mat-card-content>
    </mat-card>
    <!-- CSV -->
    <mat-card class="shadow-lg h-400 w-52">
      <mat-card-title> Import Student Emails from CSV: </mat-card-title>
      <mat-card-content>
        <app-import-students-csv (buttonClicked)="parentEventHandlerFunction($event)"></app-import-students-csv>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<mat-card>
  <mat-card-title>Current Students ({{(currentStudents.asObservable() |
    async)?.length}}/{{course.settings?.courseCapacity}}):</mat-card-title>
    <table class="tab">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of currentStudents | async">
          <td>{{ student.firstName }} {{student.lastName}}</td>
          <td>{{ student.email }}</td> 
        </tr>
      </tbody>
    </table>
</mat-card>