<div fxLayout="row">
    <mat-card class="shadow-lg h-400 w-72">
        <mat-card-title>Current Students:</mat-card-title>
        <mat-list *ngFor="let student of currentStudents">
            <mat-list-item>
                {{student.email}}
            </mat-list-item>
        </mat-list>
    </mat-card>
    <mat-card class="shadow-lg h-400 w-72">
        <mat-card-title>Add Students:</mat-card-title>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" name="newEmail" [(ngModel)] = "newEmail">
        </mat-form-field>
        <button mat-raised-button (click)="addNewStudent()">Add Student</button> 
        <mat-list *ngFor="let email of emails">
            <mat-list-item>
                {{email}}
            </mat-list-item>
        </mat-list>
        <button mat-raised-button (click)="onSubmit()">Complete</button>
    </mat-card>
    <mat-card class="shadow-lg h-400 w-72">
        <mat-card-title>Remove Student:</mat-card-title>
    <div>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" name="removedEmail" [(ngModel)] = "removedEmail">
        </mat-form-field>
        <button mat-raised-button (click)="removeStudent()">Remove</button> 
    </div>
    
    </mat-card>
