<form [formGroup]="quizForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field>
        <mat-label>Quiz Name</mat-label>
        <textarea matInput formControlName="name" type="text"></textarea>
    </mat-form-field>

    <button mat-button (click)="onCreate()">Create Quiz</button>

    <div *ngIf="isCreated== true">
        <button mat-button (click)="finish()">Finish</button>
        <button mat-button (click)="openAddQuestionDialog(this.quizForm.value.name)"> Add Questions</button>
    </div>
</form>