<div fxLayout="column" fxFill>
    <div fxFlex="7">
        <app-course-info-home></app-course-info-home>
    </div>

    <mat-drawer-container fxLayout="column" fxFlex="93">

        <mat-drawer #drawer mode="side" opened class="w-24 min-h-full ">
            <app-course-sidebar></app-course-sidebar>
        </mat-drawer>


        <mat-drawer-container fxLayout="column" fxFill>
            <h1>EDIT THE CURRICULUM</h1>
            <app-edit-curriculum></app-edit-curriculum>
        </mat-drawer-container>


    </mat-drawer-container>

</div>