<div class="container">
        <input class="file-input hidden" type="file" 
        #csvReader name="Upload CSV" 
        id="txtFileUpload"  
        (change)="uploadListener($event); onFileSelected($event)"/>
        <div>
            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="csvReader.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
        <button mat-raised-button class="bg-blue-600" type="submit" *ngIf="populated" (click)="onSubmit()">Add Students</button>
    <table class="minimalistBlack" *ngIf="populated">
      <thead>
        <tr>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records;let i = index;">
          <td> {{record.email}} </td>
        </tr>
      </tbody>
    </table>   
</div>
