<p>import-students-csv works!</p>
<div class="container">
    <h1 style="text-align: center">File Upload</h1>
    <br /><br />

    <input class="form-control" type="file" class="upload" (change)="changeListener($event)" />

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th *ngFor="let title of headLines[0]; let i = index">
                    {{title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of rowLines[0]; let i = index">
                <td *ngFor="let titles of headLines[0]; let j = index">
                    {{item[j]}}
                </td>
            </tr>
        </tbody>
    </table>
</div>