<div class="container">
    <form class="min-w-max">
        <input class="form-control" type="file" class="file-input hidden"
            (change)="onFileSelected($event); changeListener($event)" #fileUpload>
        <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

            <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
            </button>
        </div>
    </form>
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th *ngFor="let title of headLines[0]; let i = index" class="text-xl ">
                    {{title}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of rowLines[0]; let i = index">
                <td *ngFor="let titles of headLines[0]; let j = index" class="text-xl">
                    {{item[j]}}
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="populated">
        <button mat-raised-button class="bg-blue-300" type="submit" (click)="onSubmit()">Send Email</button>
    </div>
</div>