
<mat-list fxFill class="text-primary w-1/12">
    <!-- View Home in Course -->
    <mat-list-item>
        <a [routerLink]="['/courses', courseId]">Home</a>
    </mat-list-item>
    <mat-divider></mat-divider>
    <!-- View All Grades for Course -->
    <mat-list-item *ngIf="isAuthor">
        <a [routerLink]="['/courses', courseId, 'allgrades']">Grades</a>
    </mat-list-item>
    <mat-divider *ngIf="isAuthor">
    </mat-divider>
    <!-- View Single Student Grades for Course -->
    <mat-list-item *ngIf="!isAuthor">
        <a [routerLink]="['/courses', courseId, 'grades']">Grades</a>
    </mat-list-item>
    <mat-divider *ngIf="!isAuthor">
    </mat-divider>
    <!-- View Authors in Course -->
    <mat-list-item *ngIf="isAuthor">
        <a [routerLink]="['/courses', courseId, 'authors']">Authors</a>
    </mat-list-item>
    <mat-divider *ngIf="isAuthor">
    </mat-divider>
    <!-- View Students in Course -->
    <mat-list-item *ngIf="isAuthor">
        <a [routerLink]="['/courses', courseId, 'students']">Students</a>
    </mat-list-item>
    <mat-divider *ngIf="isAuthor">
    </mat-divider>
    <!-- View Settings in Course -->
    <mat-list-item *ngIf="isAuthor">
        <a [routerLink]="['/courses', courseId, 'settings']">Settings</a>
    </mat-list-item>

</mat-list>
