<!DOCTYPE html>
<html>
  <head>
    <title>RefReps: Admin Portal</title>
  </head>
  <div id="form">
    <h1>Video Upload</h1>
    <div id="text_entries">
      <label for="video_title">Name of the file: </label><br>
      <input type="text" id="video_title"> <br><br>  
    
      <label for="video_description">Description of the file: </label><br>
      <input type="text" id="video_description">
    </div>
      <br>
      <br>
    <div id="file-upload">
      <label for="file-upload">Select file for upload :</label> <br>
      <input type="file" id="file-upload">
    </div>
    <br>
    <div class="file-upload">
       <button class="upload-btn">Upload File</button>
   </div>
  </div>
</html>