<div *ngFor="let section of sections">
    <div>       
    <mat-card>
            <mat-card-title>{{section.name}}<button mat-raised-button color="warn" class="float-right">DEL</button></mat-card-title>

    </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div>
        <app-edit-display-modules [sectionId]=section._id></app-edit-display-modules>
    </div>
</div>
<mat-card class="max-w-min float-right">
    <button mat-raised-button color="primary" routerLink="..">Finish</button>
</mat-card>
