<!-- Display all of the sections in the course -->
<div
    *ngIf="sections.length != 0" class="list"
    cdkDropList
    #sectionsList="cdkDropList"
    [cdkDropListData]="sections"
    (cdkDropListDropped)="onDrop($event)"
>
    <div *ngFor="let section of sections">
      
        <mat-card cdkDrag>
                <mat-card-title>{{section.name}}
                    <button (click)="openDeleteSectionDialog(section._id)" mat-raised-button color="warn" class="float-right">DEL</button>
                    <button (click)="openAddModuleDialog(section._id)" mat-raised-button class="float-right bg-green-400">+</button>    
                </mat-card-title>
    
        </mat-card>

        <mat-divider></mat-divider>
        <div>
            <app-edit-display-modules [sectionId]=section._id></app-edit-display-modules>
        </div>
    </div>
</div>

<!-- Open Dialog: Add new section -->
<mat-card class="max-w-min float-left">
    <button mat-raised-button class="bg-green-400" (click)="openAddSectionDialog()">Add New Section</button>
</mat-card>

<!-- Return to regular course view -->
<mat-card class="max-w-min float-right">
    <button mat-raised-button color="primary" routerLink="..">Finish</button>
</mat-card>
