<body>
    <h2 class="title">Course Creation Form</h2>
            <div>
                <div>
                    <label class="label">Course Name: </label>
                    <input #courseName>     
                </div>
                <label class="label">Is this a template course?</label>
                    <div>
                        <label>Yes
                            <input type="radio" checked="checked" name="isTemplate">
                            <span class="checkmark"></span>
                        </label>
                        <label>No
                            <input type="radio" name="isTemplate">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                        <label class="label">Publish Course?</label>
                            <div>
                                <label>Yes
                                    <input type="radio" checked="checked" name="isPublished">
                                    <span class="checkmark"></span>
                                </label>
                                <label>No
                                    <input type="radio" name="isPublished">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        <div>
                            <button (click)="createCourse(courseName.value)">Submit</button>
                        </div>
                </div>
</body>
