<h1>Editing {{quizInfo.name}} Questions</h1>

<div class="list" cdkDropList #contentsList="cdkDropList" [cdkDropListData]="quizQuestions$ | async"
    (cdkDropListDropped)="onDrop($event)">
    <div *ngFor="let question of quizQuestions$ | async" cdkDrag class="m-5">
        <app-edit-quiz-question [question]="question"></app-edit-quiz-question>
    </div>
</div>

<div class="flex flex-row m-5">
    <div class="m-2">
        <mat-card class="max-w-min">
            <button mat-raised-button class="bg-green-400" (click)="openQuizBuilderDialog(quizId)">Add New Question</button>
        </mat-card>
    </div>
    
    <div class="m-2">
        <mat-card class="max-w-min">
            <button mat-raised-button class="bg-green-400" (click)="onQuizSave()">Save Quiz</button>
        </mat-card>
    </div>
</div>
