<a [routerLink]="['/courses', course._id]"
routerLinkActive="router-link-active" class="cursor-pointer">
    <mat-card class="shadow-lg w-72 h-80">
        <!-- <img mat-card-image class="bg-fifthary h-48 min-w-full" src="../../../assets/RR_Logo_12.png"> -->
        <div class="flex justify-center 
                    bg-fifthary h-48 min-w-full">
            <img src="../../../assets/RR_Logo_12.png" alt="logo" >
        </div>
            
        <mat-card-title>{{course.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <br>
        <mat-card-subtitle>Course Subtitle</mat-card-subtitle>
        <mat-card-content></mat-card-content>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</a>