table {
    width: 100%;
}

tr {
    height: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-size: 16px;
}

th {
    font-size: 20px;
    text-align: left;
    border-bottom: 1px solid currentColor;
}

tr:hover {
    background-color: rgb(237, 244, 250)
}

.center {
    display: flex;
    justify-content: center;
}