
  <div style="text-align: center">
    <mat-card-title>Enter New Password for {{user.firstName}} {{user.lastName}}</mat-card-title>
  </div>
  <mat-error *ngIf="activeUser === user.email">This is your account! Are you sure you want to make changes?</mat-error>
  <div *ngIf="activeUser !== user.email">
      <mat-error *ngIf="user.role === 'admin'">This is an admin account!</mat-error>
  </div>
  <!-- Password input -->
  <div class="grid grid-flow-row">
  <mat-form-field>
    <mat-label>New Password</mat-label>
    <input
      matInput
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
      name="password"
      [(ngModel)]="password"
      required
    />
    <mat-icon
      matSuffix
      (click)="hide = !hide"
      class="hover:cursor-pointer"
      >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
    >
  </mat-form-field>

  <!-- Confirm password input -->
  <mat-form-field>
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      placeholder="Password"
      [type]="hide ? 'password' : 'text'"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
    />
    <mat-icon
      matSuffix
      (click)="hide = !hide"
      class="hover:cursor-pointer"
      >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
    >
  </mat-form-field>
  <div *ngIf="!match" class="text-red-600">Passwords do not match</div>
  <button class="w-40 bg-green-400" mat-raised-button (click)="onSubmit()">
    Confirm
  </button>
  </div>
