<div class="shadow-lg max-w-4xl">
  <mat-card *ngIf="question.questionType == '1_CHOICE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <span class="break-all">
    <mat-list>
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'A' }">
        A: {{ question.responses?.A }}
        </mat-list-item
        ><br />
        <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'B' }">
        B: {{ question.responses?.B }}</mat-list-item
      ><br />
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'C' }">
        C: {{ question.responses?.C }}</mat-list-item
        ><br />
        <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'D' }">
          D: {{ question.responses?.D }}</mat-list-item
          ><br />
        </mat-list>
      </span>
  </mat-card>

  <mat-card *ngIf="question.questionType == 'TRUE_FALSE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <mat-list #tfAnswer>
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'true' }" #qTrue color="primary" value="true"> true </mat-list-item
      ><br />
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'false' }" #qFalse color="primary" value="false">
        false </mat-list-item
      ><br />
    </mat-list>
  </mat-card>

  <mat-card *ngIf="question.questionType == 'FREE_RESPONSE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <div class="text-xl rounded-md bg-green-200 px-5 py-3">
      <span class="font-bold text-xl">Answer: </span> <span class="px-3 break-words">{{answer}}</span>
    </div>
  </mat-card>
</div>
