<div class="shadow-lg max-w-4xl">
  <mat-card *ngIf="question.questionType == '1_CHOICE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <span class="break-all">
    <mat-list>
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'A' }">
        A: {{ question.responses?.A }}
        </mat-list-item
        ><br />
        <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'B' }">
        B: {{ question.responses?.B }}</mat-list-item
      ><br />
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'C' }">
        C: {{ question.responses?.C }}</mat-list-item
        ><br />
        <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'D' }">
          D: {{ question.responses?.D }}</mat-list-item
          ><br />
        </mat-list>
      </span>
  </mat-card>

  <mat-card *ngIf="question.questionType == 'TRUE_FALSE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <mat-list #tfAnswer>
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'true' }" #qTrue color="primary" value="true"> true </mat-list-item
      ><br />
      <mat-list-item class="rounded-md bg-gray-100" [ngClass]="{ 'bg-green-200': answer == 'false' }" #qFalse color="primary" value="false">
        false </mat-list-item
      ><br />
    </mat-list>
  </mat-card>

  <mat-card *ngIf="question.questionType == 'FREE_RESPONSE'">
    <mat-card class="font-bold text-lg break-words"
      >{{ question.questionNumber }}: {{ question.question }}</mat-card
    >
    <!-- edit icon  -->
    <div class="flex flex-col">
      <button
        mat-icon-button
        [matMenuTriggerFor]="editMenu"
        class="place-self-end"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <!-- Edit Menu -->
      <mat-menu #editMenu class="w-10">
        <div class="flex flex-col">
          <div>
            <button
              mat-icon-button
              (click)="removeQuestion()"
              color="warn"
              class=""
            >
              <mat-icon>delete</mat-icon>
            </button>
            Delete
          </div>
        </div>
      </mat-menu>
    </div>
    <br />
    <div class="text-xl rounded-md bg-green-200 px-5 py-3">
      <span class="font-bold text-xl">Answer: </span> <span class="px-3 break-words">{{answer}}</span>
    </div>
  </mat-card>
</div>
<!-- <form [formGroup] ="userAnswer" (ngSubmit)="onSubmit()">
    <div *ngIf="question.type === 'MULTI_CHOICE'" >
        <mat-card>
            <mat-label>{{question.question}}</mat-label> <br>
            <mat-checkbox color = "primary" value = "A">{{question.responses.A}}</mat-checkbox>
            <mat-checkbox color = "primary" value = "B">{{question.responses.B}}</mat-checkbox>
            <mat-checkbox color = "primary" value = "C">{{question.responses.C}}</mat-checkbox>
            <mat-checkbox color = "primary" value = "D">{{question.responses.D}}</mat-checkbox>
            <mat-card-actions> 
                <button type="submit" mat-raised-button color = "primary">Submit</button>
            </mat-card-actions>
           
        </mat-card>
    </div>
</form> -->

<!-- <form [formGroup] ="userAnswer" (ngSubmit)="onSubmit()">
    <mat-radio-group  *ngIf="question.type === 'TRUE_FALSE'" formControlName="answer">
        <mat-card>
            <mat-label>{{question.question}}</mat-label> <br>
            <mat-radio-button color = "primary"value = "true">True</mat-radio-button>
            <mat-radio-button color = "primary" value = "false">False</mat-radio-button>
            <mat-card-actions> 
                <button type="submit" mat-raised-button color = "primary">Submit</button>
            </mat-card-actions>
        </mat-card>
    </mat-radio-group>
</form>

<form [formGroup] ="userAnswer" (ngSubmit)="onSubmit()">
    <mat-form-field  *ngIf="question.type === 'FREE_RESPONSE'" appearance="fill" >
        <mat-card>
            <mat-label>{{question.question}}</mat-label>
            <textarea matInput formControlName="answer"></textarea>
            <mat-card-actions> 
                <button type="submit" mat-raised-button color = "primary">Submit</button>
            </mat-card-actions>
        </mat-card>
    </mat-form-field> 
</form>
</div>


 -->
