<div class="p-0 m-0">
    <div class="header-bar">
        Course Dashboard
        <span class="header-bar p-25 text-2xl text-gray-400">
            {{ user.firstName }} {{ user.lastName }}
        </span>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-row flex-wrap">

        <div class="p-5 min-w-min" *ngFor="let course of courses">
            <app-course-card [course]="course"></app-course-card>
        </div>

    </div>
</div>
<div *ngIf="!isAdmin">
    <div style="float: bottom" class="ml-5">
        <mat-card class="max-w-min">
            <mat-form-field>
                <input matInput #codeInput name="code" placeholder="Coupon Code">
            </mat-form-field>
            <button mat-button (click)="joinCourseByCode(codeInput.value)" class="bg-green-400" mat-raised-button>
                Join Course
            </button>
        </mat-card>
    </div>
</div>