<div class="h-screen flex justify-center items-center bg-primary">

    <mat-card class="max-w-max">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div style="text-align: center;">
                <mat-card-title>Sign In</mat-card-title>
            </div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. user@example.com">
                <mat-error *ngIf="f.email.errors"></mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <!--<input matInput [type]="hide ? 'password' : 'text'" formControlName="password">-->
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                    formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error *ngIf="f.password.errors"></mat-error>
            </mat-form-field>
            <div *ngIf="!isLoadingResults" class="text-red-600" style="text-align: center">
                Email or Password is incorrect
            </div>
            <div style="text-align: center;">
                <button class="bg-blue-200" mat-raised-button>Login</button>
            </div>
        </form>
        <div style="text-align: center; padding-bottom: 6em;">Don't have an account?
            <a href='/register' style="color: blue">Sign up here!</a>
        </div>
        <div *ngIf="error" class="text-red-600">{{error}}</div>
    </mat-card>

</div>