<div style="text-align: center">
    <mat-card-title>Change role for {{user.firstName}} {{user.lastName}}</mat-card-title>
</div>
<mat-error *ngIf="activeUser === user.email">This is your account! Are you sure you want to make changes?</mat-error>
<div *ngIf="activeUser !== user.email">
    <mat-error *ngIf="user.role === 'admin'">This is an admin account!</mat-error>
</div>
<div class="grid grid-flow-row">
    <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="role" name="role">
            <mat-option *ngFor="let role of roles" [value]="role">
                {{role}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button class="w-40 bg-green-400" mat-raised-button (click)="onSubmit(role)">
    Confirm
</button>
