<mat-card>
    <h1 class="content-center">Quiz Builder</h1>
</mat-card>
<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="quizForm">
        <form [formGroup]="quizForm">
            <ng-template matStepLabel> </ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Quiz Question</mat-label>
                <textarea matInput placeholder="Quiz question" formControlName="question" required></textarea>
            </mat-form-field>
            <br>
            <mat-radio-group formControlName="type">
                <mat-radio-button value="1_CHOICE">Multiple Choice</mat-radio-button>
                <mat-radio-button value="TRUE_FALSE">True False</mat-radio-button>
                <mat-radio-button value="FREE_RESPONSE">Text Question</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step optional="true" [stepControl]="multipleChoiceType" *ngIf="quizForm.get('type')?.value=='1_CHOICE'">
        <form [formGroup]="multipleChoiceType">
            <ng-template matStepLabel>Multiple Choice Options</ng-template>
            <mat-form-field appearance="fill">
                <mat-label for="option1">A:</mat-label>
                <input matInput type="text" id="option1" formControlName="A">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="option2">B:</mat-label>
                <input matInput type="text" id="option2" formControlName="B">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="option3">C:</mat-label>
                <input matInput type="text" id="option3" formControlName="C">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label for="option4">D:</mat-label>
                <input matInput type="text" id="option4" formControlName="D">
            </mat-form-field>
            <br>
            <br>
            <mat-radio-group formControlName="answers">
                <mat-radio-button checked value="A" class="m-5">A</mat-radio-button>
                <mat-radio-button value="B" class="m-5">B</mat-radio-button>
                <mat-radio-button value="C" class="m-5">C</mat-radio-button>
                <mat-radio-button value="D" class="m-5">D</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step optional="true" [stepControl]="trueFalseType" *ngIf="quizForm.get('type')?.value=='TRUE_FALSE'">
        <form [formGroup]="trueFalseType">
            <ng-template matStepLabel>True False</ng-template>
            <mat-radio-group aria-label="Select the correct answer" formControlName="answers">
                <mat-radio-button value="true">True</mat-radio-button>
                <mat-radio-button value="false">False</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step optional="true" [stepControl]="textBoxType" *ngIf="quizForm.get('type')?.value=='FREE_RESPONSE'">
        <form [formGroup]="textBoxType">
            <ng-template matStepLabel>Free Response Options</ng-template>
            <mat-form-field>
                <mat-label for="freeResponse">correct answer: </mat-label>
                <input matInput type="text" id="freeResponse" formControlName="answers">
            </mat-form-field>
            <br>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step optional="true">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)=saveQuestionToStore()> Add Question</button>
        </div>
    </mat-step>
</mat-stepper>