<div class="">
    <div class="p-2">
        <app-content-header headerTitle="Test Component"></app-content-header>
    </div>
    <div class="p-2">
        <!-- <app-module-display></app-module-display> -->
        <app-drag-drop-area></app-drag-drop-area>
    </div>
</div>

<div class="container max-w-screen-md">
</div>

<input type="hidden" #courseId value="61a5685c462f70ef5a2b51f0">
<app-display-sections [courseId]="courseId.value"></app-display-sections>

<input type="text" #videoId value="61acca7c093560c423d1e51c">
<app-video-viewer [videoId]="videoId.value"></app-video-viewer>

<!-- <video autoplay muted loop>
    <source type="video/mp4" src="http://localhost:3000/api/video/61a5685c462f70ef5a2b51f0">
</video> -->

