<!--<div class="">
    <div class="p-2">
        <app-content-header headerTitle="Test Component"></app-content-header>
    </div>
    <div class="p-2">
        <app-module-display></app-module-display> 
        <app-drag-drop-area></app-drag-drop-area>
    </div>
</div>-->

<!-- <div class="container max-w-screen-md">
</div>

<input type="hidden" #courseId value="61ad610ad2a7eedca9047eb0">
<app-display-sections [courseId]="courseId.value"></app-display-sections>

<input type="text" #videoId value="61ad5b3ba61a06a038c593a7">
<app-video-viewer [videoId]="videoId.value"></app-video-viewer>-->


<!-- <video autoplay muted loop>
    <source type="video/mp4" src="http://localhost:3000/api/video/61a5685c462f70ef5a2b51f0">
</video> -->

<!-- <button (click)="openAddCourseDialog()">Add Course</button> -->

<!-- <button (click)="openAddSectionDialog()">Add Section</button> -->

<!-- <button (click)="openAddModuleDialog()">Add Module</button> -->

<!-- <app-quiz-builder></app-quiz-builder> -->

<app-quiz-student-view [quizId]="'6201e9fb5f747f8462929946'"></app-quiz-student-view>

<app-import-students-csv></app-import-students-csv>