<div fxLayout="column" fxFill>
    <!-- Course Header -->
    <div fxFlex="7">
      <app-course-info-home></app-course-info-home>
    </div>
  
    <mat-drawer-container fxLayout="column" fxFlex="93">
      <!-- Course Sidebar -->
      <mat-drawer #drawer mode="side" opened class="w-24 min-h-full">
        <app-course-sidebar></app-course-sidebar>
      </mat-drawer>

      <div class="center">
        <h1 class="text-display">Grades:</h1>
      </div>

      <table>
        <thead>
          <tr>
              <th></th>
              <th class="student">Student</th>
              <th class="grade">Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grade of allGrades">
            <td class="view">
              <a [routerLink]="['/courses', courseId, 'grades', grade.user?._id]">
                <span class="material-icons">
                  visibility
                </span>
                </a>
            </td>
            <td class="student">
              <a [routerLink]="['/courses', courseId, 'grades', grade.user?._id]">
                {{ grade.user?.email }}
              </a>
            </td>
            <td class="grade">
              {{ getGradePercentage(grade.courseGrade) }}% ({{getLetterGrade(grade.courseGrade)}})
            </td>
          </tr>
        </tbody>
      </table>
    </mat-drawer-container>
    </div>