<h2>Add Course</h2>
<form [formGroup]="formGroup" (ngSubmit)="onFormSubmit()">
    <p>
        <mat-form-field apperance="fill">
            <mat-label>Course Name</mat-label>
            <input matInput name="name" formControlName="name">
        </mat-form-field>
    
    </p>
    <p>
        <mat-slide-toggle name="isPublished" formControlName="isPublished" color="aqua" checked>
            Publish Course
        </mat-slide-toggle>
    </p>
    <p>
        <button mat-button type="submit" class="bg-green-400" mat-raised-button>Submit</button>
    </p>
</form>