
<mat-card *ngIf="question.questionType == '1_CHOICE'">
    <mat-radio-group>
        <mat-label class="break-words">{{question.questionNumber}}: {{question.question}}</mat-label><br>
        <mat-radio-group>
            <mat-radio-button #choice1 color="primary" value="A" (change)="updateAnswers(choice1.value)">{{question.responses?.A}}</mat-radio-button><br>
            <mat-radio-button #choice2 color="primary" value="B" (change)="updateAnswers(choice2.value)">{{question.responses?.B}}</mat-radio-button><br>
            <mat-radio-button #choice3 color="primary" value="C" (change)="updateAnswers(choice3.value)">{{question.responses?.C}}</mat-radio-button><br>
            <mat-radio-button #choice4 color="primary" value="D" (change)="updateAnswers(choice4.value)">{{question.responses?.D}}</mat-radio-button><br>
        </mat-radio-group>
    </mat-radio-group>
</mat-card>
        
<mat-card *ngIf="question.questionType == 'TRUE_FALSE'">
    <mat-label class="break-words">{{question.questionNumber}}: {{question.question}}</mat-label><br>
    <mat-radio-group #tfAnswer>
        <mat-radio-button #qTrue color="primary" value="true" (change)="updateAnswers(qTrue.value)">true</mat-radio-button><br>
        <mat-radio-button #qFalse color="primary" value="false" (change)="updateAnswers(qFalse.value)">false</mat-radio-button><br>
    </mat-radio-group>
</mat-card>

<mat-card *ngIf="question.questionType == 'FREE_RESPONSE'">
    <mat-label class="break-words">{{question.questionNumber}}: {{question.question}}</mat-label><br>
    <mat-form-field appearance="fill">

        <textarea matInput #frAnswer (change)="updateAnswers(frAnswer.value)"></textarea>
    </mat-form-field>
</mat-card>
