<div class="" fxLayout="column" fxLayoutAlign="start stretch">
    <div>
        <app-course-info-home></app-course-info-home>
    </div>
    <div fxLayout="row" fxLayoutAlign="stretch start">
        <div class="" id="course-sidebar">
            <app-course-sidebar></app-course-sidebar>
        </div>
        <div fxFlex id="module-display">
            <app-display-sections [courseId]="courseId"></app-display-sections>
            <mat-card class="max-w-min float-right">
                <button mat-raised-button color="primary" routerLink="./editCurriculum">Edit Curriculum</button>
            </mat-card>
        </div>
    </div>
</div>


