
<div fxLayout="column" fxFill>
    <div fxFlex="7">
        <app-course-info-home></app-course-info-home>
    </div>

    <mat-drawer-container fxLayout="column" fxFlex="93">

        <mat-drawer #drawer mode="side" opened class="w-24 min-h-full">
            <app-course-sidebar></app-course-sidebar>
        </mat-drawer>


        <mat-drawer-container fxLayout="column" fxFill>
            <app-display-sections [courseId]="courseId"></app-display-sections>
            <!-- Author Edit Button -->
            <mat-card *ngIf="canEdit" class="max-w-min float-right">
                <button mat-raised-button color="primary" routerLink="./editCurriculum">Edit Curriculum</button>
            </mat-card>
        </mat-drawer-container>


    </mat-drawer-container>

</div>

