<div class="flex flex-col">
    <div *ngFor="let question of questions" class="m-5">
        <mat-card *ngIf="question.questionType == '1_CHOICE'">
            <mat-radio-group>
                <mat-label>{{question.questionNumber}}: {{question.question}}</mat-label><br>
                <mat-radio-group class="mdc-radio--disabled" [value]="getUserAnswerByQuestionNumber(question.questionNumber!)">
                    <mat-radio-button #choice1 color="primary" value="A" disabled>{{question.responses?.A}}</mat-radio-button><br>
                    <mat-radio-button #choice2 color="primary" value="B" disabled>{{question.responses?.B}}</mat-radio-button><br>
                    <mat-radio-button #choice3 color="primary" value="C" disabled>{{question.responses?.C}}</mat-radio-button><br>
                    <mat-radio-button #choice4 color="primary" value="D" disabled>{{question.responses?.D}}</mat-radio-button><br>
                </mat-radio-group>
            </mat-radio-group>
        </mat-card>
                
        <mat-card *ngIf="question.questionType == 'TRUE_FALSE'">
            <mat-label>{{question.questionNumber}}: {{question.question}}</mat-label><br>
            <mat-radio-group #tfAnswer class="mdc-radio--disabled" [value]="getUserAnswerByQuestionNumber(question.questionNumber!)">
                <mat-radio-button #qTrue color="primary" value="true" disabled>true</mat-radio-button><br>
                <mat-radio-button #qFalse color="primary" value="false" disabled>false</mat-radio-button><br>
            </mat-radio-group>
        </mat-card>
        
        <mat-card *ngIf="question.questionType == 'FREE_RESPONSE'">
            <mat-label>{{question.questionNumber}}: {{question.question}}</mat-label><br>
                <mat-placeholder>Enter Answer</mat-placeholder>
                <div class="max-w-sm bg-gray-200 rounded-md px-5 py-2">
                    {{getUserAnswerByQuestionNumber(question.questionNumber!)}}
                </div>
        </mat-card>
    </div>
</div>


