.center {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.text-display {
    font-size: 30px;
    font-weight: 500;
}

.pass {
    color: green
}

.fail {
    color: red
}

.neutral {
    color: black
}