.center {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.text-display {
    font-size: 30px;
    font-weight: 500;
}

.pass {
    color: green
}

.fail {
    color: red
}

.neutral {
    color: black
}

.divider {
    width: 6px;
    height: 20px;
}

.passInput {
    color: rgb(0, 140, 0);
    max-width: 24rem;
    background-color: rgb(207, 255, 194);
    border-radius: 0.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.failInput {
    color: rgb(174, 0, 0);
    max-width: 24rem;
    background-color: rgb(255, 187, 187);
    border-radius: 0.375rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

