<!--<div class="" fxLayout="column" fxLayoutAlign="start stretch">
    <div>
        <app-course-info-home></app-course-info-home>
    </div>
    <div fxLayout="row" fxLayoutAlign="stretch start">
        <div class="" id="course-sidebar">
            <app-course-sidebar></app-course-sidebar>
        </div>
        <div fxFlex id="module-display">
            <app-quiz-grades-viewer *ngIf="quizId" [quizId]="quizId"></app-quiz-grades-viewer>
        </div>
    </div>
</div>
-->

<div fxLayout="column" fxFill>
    <div fxFlex="7">
        <app-course-info-home></app-course-info-home>
    </div>

    <mat-drawer-container fxLayout="column" fxFlex="93">

        <mat-drawer #drawer mode="side" opened class="w-24 min-h-full">
            <app-course-sidebar></app-course-sidebar>
        </mat-drawer>


        <mat-drawer-container fxLayout="column" fxFill>
            <app-quiz-grades-viewer *ngIf="quizId" [quizId]="quizId"></app-quiz-grades-viewer>
        </mat-drawer-container>


    </mat-drawer-container>

</div>