<div class="center">
  <h1 class="text-display">{{ quizInfo?.quiz?.name }}</h1>
</div>
<div class="center">
  <div matTooltip="All Attempts Used"
       matTooltipPosition="above"
       [matTooltipDisabled]="!isAttemptsExhausted">
    <button class="bg-blue-200" 
            mat-raised-button
            (click)="takeQuiz()"
            [disabled]="isAttemptsExhausted"
            >
            Start Quiz
    </button>
  </div>
</div>

<div *ngIf="userGrade.length > 0" class="center">
  <h1 class="text-display">Previous Submissions:</h1>
</div>

<table *ngIf="userGrade.length > 0">
  <thead>
    <tr>
      <th class="view">View</th>
      <th class="submission">#</th>
      <th class="grade">Grade</th>
      <th class="hidden lg:table-cell">Started</th>
      <th class="hidden lg:table-cell">Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGrade of userGrade">
      <td class="view">
        <a [routerLink]="['./viewQuiz', userGrade.submissionId]">
          <span class="material-icons">
            visibility
          </span>
         </a>
      </td>
      <td class="submission">{{ userGrade.submissionNumber }}</td>
      <td class="grade" [ngClass]="userGrade.grade! >= passingGrade ? 'pass' : 'fail'">
        {{ getGradePercentage(userGrade.grade) }}% ({{
          getLetterGrade(userGrade.grade)
        }})
      </td>
      <td class="hidden lg:table-cell">{{ userGrade.dateStarted | date: "medium" }}</td>
      <td class="hidden lg:table-cell">{{ userGrade.dateFinished | date: "medium" }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="userGrade.length == 0" class="center">
  <h1 class="text-display">No Previous Submission</h1>
</div>
