<div class="center">
  <h1 class="text-display">{{ quizInfo?.quiz?.name }}</h1>
</div>
<div class="center">
  <a routerLink="./take">
    <button class="bg-blue-200" mat-raised-button>Start Quiz</button>
  </a>
</div>

<div *ngIf="userGrade.length > 0" class="center">
  <h1 class="text-display">Previous Submissions:</h1>
</div>

<table *ngIf="userGrade.length > 0">
  <thead>
    <tr>
      <th>View</th>
      <th>Submission Number</th>
      <th>Grade</th>
      <th>Started</th>
      <th>Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGrade of userGrade">
      <td>
        <a [routerLink]="['./viewQuiz', userGrade.submissionId]">
          <span class="material-icons">
            visibility
          </span>
         </a>
      </td>
      <td>{{ userGrade.submissionNumber }}</td>
      <td [ngClass]="userGrade.grade! >= passingGrade ? 'pass' : 'fail'">
        {{ getGradePercentage(userGrade.grade) }}% ({{
          getLetterGrade(userGrade.grade)
        }})
      </td>
      <td>{{ userGrade.dateStarted | date: "medium" }}</td>
      <td>{{ userGrade.dateFinished | date: "medium" }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="userGrade.length == 0" class="center">
  <h1 class="text-display">No Previous Submission</h1>
</div>
