.center {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.text-display {
    font-size: 50px;
    font-weight: 500;
}

table {
    width: 100%;
}

tr {
    height: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-size: 16px;
}

tr:hover {
    background-color: rgb(237, 244, 250)
}

th {
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid currentColor;
}

.pass {
    color: green
}

.fail {
    color: black
}

.view {
    width: 32px;
    border-right: 1px solid currentColor;
    text-align: center;
    padding-left: 24px;
    padding-right: 12px;
}

.submission {
    padding-left: 16px;
}

.grade {
    font-weight: bold;
}
