<div
  *ngIf="contents.length != 0"
  class="list"
  cdkDropList
  #contentsList="cdkDropList"
  [cdkDropListData]="contents"
  (cdkDropListDropped)="onDrop($event)"
>
  <mat-card *ngFor="let content of contents" cdkDrag class="p-1">
    <div class="flex flex-row justify-between align-middle">
      <div class="self-center">
        {{ content.name }}
      </div>
      <div class="flex flex-row">
        <!-- Display drop date if there is enough space -->
        <div class="hidden sm:block min-w-max self-center p-1 bg-black rounded-md">
          <div class="text-xl self-center rounded-md bg-blue-100 px-5">
            {{parseDate(content.dropDate!)}}
          </div>
        </div>
        <!-- Menu for buttons -->
        <button mat-icon-button [matMenuTriggerFor]="editMenu" class="">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
    <mat-menu #editMenu class="w-10">
      <div class="flex flex-col">
        <div>
          <button
            mat-icon-button
            (click)="openUpdateContentDialog(content._id!)"
            color="black"
            class=""
          >
            <mat-icon>edit</mat-icon>
          </button>
          Edit
        </div>
        <div>
          <button mat-icon-button color="blue"
          (click)="openChangeDropDateDialog(content._id!)"
           class="">
            <mat-icon>event</mat-icon>
          </button>
          Drop Date
        </div>
        <div>
          <button
            (click)="openDeleteContentDialog(content._id!)"
            mat-icon-button
            color="warn"
            class=""
          >
            <mat-icon>delete</mat-icon>
          </button>
          Delete
        </div>
      </div>
    </mat-menu>
  </mat-card>
</div>
