<div *ngIf="contents.length != 0" class="list" cdkDropList #contentsList="cdkDropList" [cdkDropListData]="contents"
    (cdkDropListDropped)="onDrop($event)">
    <mat-card *ngFor="let content of contents" cdkDrag class="p-1">
        {{content.name}}
        <button mat-icon-button [matMenuTriggerFor]="editMenu" class="float-right">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #editMenu class="max-w-min">
            <button mat-icon-button (click)="openUpdateContentDialog(content._id!)" color="black" class="float-left">
                <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf=" content.onModel=='Quiz'" (click)="onEditClick(content)" mat-icon-button color="primary"
                class="float-left">
                <mat-icon>add_circle</mat-icon>
            </button>
            <button (click)="openDeleteContentDialog(content._id!)" mat-icon-button color="warn" class="float-left">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-menu>
    </mat-card>
</div>