<div *ngFor="let content of contents">
  <a [routerLink]="getRoute(content)">
    <mat-card
      class="cursor-pointer"
      [ngClass]="{
        'bg-gray-200 cursor-not-allowed': !canAccessContent(content)
      }"
    >
      <div class="flex flex-row justify-between align-middle">
        <div class="justify-self-start self-center">{{ content.name }}</div>
        <div class="flex justify-self-end self-end">
          <span class="self-center" *ngIf="!canAccessContent(content)">{{
            getContentDropDate(content)
          }}</span>
          <mat-icon class="self-end" *ngIf="!canAccessContent(content)">lock</mat-icon>
        </div>
      </div>
    </mat-card>
  </a>
</div>
