<div *ngFor="let content of contents">
  <a [routerLink]="getRoute(content)">
    <mat-card
      class="cursor-pointer"
      [ngClass]="{
        'bg-gray-200': !canAccessContent(content) || !isContentPublished(content)
      }"
    >
      <div class="flex flex-row justify-between align-middle" (click)="openSnackBar(content)">
        <div class="flex flex-row marker:justify-self-start self-center truncate">
          <div class="align-bottom">
            <mat-icon *ngIf="content.onModel == 'Quiz'">assignment</mat-icon>
            <mat-icon *ngIf="content.onModel == 'Video'">videocam</mat-icon>
            <mat-icon *ngIf="content.onModel == 'Announcement'">campaign</mat-icon>
          </div>
          <div class="self-center">
            &nbsp;&nbsp;{{ content.name }}
          </div>
        </div>
        <div class="flex justify-self-end self-end">
          <mat-icon class="pr-10 self-center text-green-600" *ngIf="content.isCompleted">done</mat-icon>
          <mat-icon class="pr-10 self-center" *ngIf="!content.isPublished">visibility_off</mat-icon>
          <div *ngIf="!isStudent()">
            <mat-icon class="pr-10 self-center text-yellow-500" *ngIf="isOpen(content)">grade</mat-icon>
          </div>
          <div *ngIf="!isOpen(content)">
            <span class="pr-5 self-center" *ngIf="!isAccessibleByDate(content)">
              Opens: {{getContentDropDate(content)}}
            </span>
          </div>
          <mat-icon class="pr-10 self-end" *ngIf="!canAccessContent(content)"
            >lock</mat-icon
          >
        </div>
      </div>
    </mat-card>
  </a>
</div>
