<div class="center">
    <h1 class="text-display">{{quizInfo.name}}</h1>
</div>
<div class="center">
    <a [routerLink]="['./edit']">
        <button class="bg-blue-200" mat-raised-button>Edit
            Quiz</button>
    </a>
</div>
<div class="center">
    <h1 class="text-display">Student Grades:</h1>
</div>

<table matSort (matSortChange)="sortGrades($event)">
    <thead>
        <tr>
            <th mat-sort-header="email">Student Email</th>
            <th mat-sort-header="grade">Grade</th>
            <th mat-sort-header="dateStarted">Started</th>
            <th mat-sort-header="dateFinished">Submitted</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let userGrade of userGrades">
            <td>{{userGrade.email}}</td>
            <td>{{getGradePercentage(userGrade.grade)}}% ({{getLetterGrade(userGrade.grade)}})</td>
            <td>{{userGrade.dateStarted | date : 'medium'}}</td>
            <td>{{userGrade.dateFinished | date : 'medium'}}</td>
        </tr>
    </tbody>
</table>