<div class="center">
  <h1 class="text-display">{{ quizInfo?.quiz?.name }}</h1>
</div>
<div class="center">
  <a [routerLink]="['./edit']">
    <button class="bg-blue-200" mat-raised-button>Edit Quiz</button>
  </a>
</div>
<div class="center">
  <h1 class="text-display">Student Grades:</h1>
</div>
<div>
  <mat-checkbox class="ml-3 text-base" [(ngModel)]="highestGradeOnly" (ngModelChange)="viewOnlyHighestGrade($event)">Display Students Best Attempt</mat-checkbox>
</div>
<table matTable (matSortChange)="sortGrades($event)" matSort>
  <thead>
    <tr>
      <th class="view">View</th>
      <th mat-sort-header="email" class="email">Student Email</th>
      <th mat-sort-header="submission">#</th>
      <th mat-sort-header="grade" class="grade">Grade</th>
      <th mat-sort-header="dateStarted" class="hidden lg:table-cell">Started</th>
      <th mat-sort-header="dateFinished" class="hidden lg:table-cell">Submitted</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userGrade of userGrades">
      <td class="view">
        <a [routerLink]="['./viewQuiz', userGrade.submissionId]">
          <span class="material-icons">
            visibility
          </span>
         </a>
      </td>
      <td class="email">{{ userGrade.email }}</td>
      <td class="submission">{{ userGrade.submissionNumber }}</td>
      <td class="grade" [ngClass]="userGrade.grade! >= passingGrade ? 'pass' : 'fail'">
        {{ getGradePercentage(userGrade.grade) }}% ({{
          getLetterGrade(userGrade.grade)
        }})
      </td>
      <td class="hidden lg:table-cell">{{ userGrade.dateStarted | date: "medium" }}</td>
      <td class="hidden lg:table-cell">{{ userGrade.dateFinished | date: "medium" }}</td>
    </tr>
  </tbody>
</table>
